SHOPIFY_API_KEY=your_shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret
#SHOPIFY_APP_URL=https://your-app-url.com
SHOPIFY_APP_URL=http://localhost:3000
SCOPES=read_customers,write_customers,read_orders,write_discounts,read_discounts,read_products
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/loyalty-rewards
NODE_ENV=development
PORT=3456

# SMTP Email (for spin wheel prize emails)
SMTP_USER=vaishnavi700395@gmail.com
SMTP_PASS=sniebkgrvlbejhjm
SMTP_FROM=vaishnavi700395@gmail.com
